form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

input, button {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #011474;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #959cee;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #011474;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background-color: #959cee;
}
    