@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #1e1e1e;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  background-color: #2e2e2e;
  color: white;
}

.senha-container {
  position: relative;
}

.senha-container button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ccc;
  font-size: 20px;
  cursor: pointer;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #1D4ED8;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #2563eb;
}

p {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

p a {
  color: #1D4ED8;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.linha-ou {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.linha-ou::before,
.linha-ou::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #444;
}

.linha-ou::before {
  margin-right: 10px;
}

.linha-ou::after {
  margin-left: 10px;
}

.linha-ou span {
  font-size: 14px;
  color: #aaa;
}

.admin-link {
  font-size: 14px;
  text-align: center;
}

.admin-link a {
  color: #1D4ED8;
  text-decoration: none;
}

.admin-link a:hover {
  text-decoration: underline;
}

/* Modo claro */
body.light-mode {
  background-color: #ffffff;
  color: #262626;
}

body.light-mode .login-container {
  background-color: #e0e0e0;
  color: #262626;
}

body.light-mode input {
  background-color: #ffffff;
  color: #262626;
  border: 1px solid #ccc;
}

body.light-mode .senha-container button {
  color: #666;
}

body.light-mode button[type="submit"] {
  background-color: #1D4ED8;
  color: white;
}

body.light-mode p a {
  color: #1D4ED8;
}

.btn-toggle-tema i {
  transition: color 0.3s;
}

body:not(.light-mode) .btn-toggle-tema i {
  color: white;
}


body.light-mode .btn-toggle-tema i {
  color: #1D4ED8;
}

body.light-mode .linha-ou::before,
body.light-mode .linha-ou::after {
  border-color: #aaa;
}

body.light-mode .linha-ou span {
  color: #666;
}

body.light-mode .admin-link a {
  color: #1D4ED8;
}