@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    height: 100vh;
  }
  

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  padding: 6px 14px;
  background: #262626;
  transition: .5s;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sidebar.active {
  width: 220px;
}

.sidebar .logo-menu {
  display: flex;
  width: 100%;
  align-items: center;
  height: 70px;
}

.sidebar .logo-menu .logo {
  font-size: 25px;
  color: #fff;
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}

.sidebar.active .logo-menu .logo {
  opacity: 1;
  transition-delay: .2s;
}

.sidebar .logo-menu .toggle-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  transition: .5s;
}

.sidebar.active .logo-menu .toggle-btn {
  left: 90%;
}

.sidebar .lista {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10px;
}

.lista .espacador {
  flex-grow: 1;
}

.lista .lista-item {
  list-style: none;
  width: 100%;
  height: 50px;
  margin: 5px 0;
  line-height: 50px;
}

.lista .lista-item a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #D2D2D2;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 6px;
  transition: .5s;
}

.lista .lista-item.ativar a,
.lista .lista-item a:hover {
  background: rgba(255, 255, 255, .2);
}

.lista .lista-item a i {
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.sidebar .nome-link {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

.sidebar.active .nome-link {
  opacity: 1;
  pointer-events: auto;
  transition-delay: calc(.1s * var(--i));
}
  
  .sidebar.active ~ .main-content {
    margin-left: 260px;
  }
  
  .marketplace h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .marketplace p {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 20px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background-color: #4a4a4a;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 100%;
  }
  
  
  .search-bar input {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
  }
  
  .search-bar i {
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

/* MODO CLARO - SIDEBAR */
body.light-mode {
    background-color: #ffffff !important;
    color: #262626;
}
body.light-mode .main-content {
  background-color: #ffffff;
  color: #262626;
}


body.light-mode .sidebar {
  background-color: #e0e0e0;
}

body.light-mode .sidebar .logo,
body.light-mode .lista-item a,
body.light-mode .lista-item a i,
body.light-mode .nome-link {
  color: #262626;
}

body.light-mode .lista-item a:hover {
  background: rgba(0, 0, 0, 0.05);
}

body.light-mode .sidebar .logo-menu .toggle-btn {
  color: #262626 !important;
}

/* SEARCH BAR */
  
  body.light-mode .search-bar {
    background-color: #e0e0e0;
  }
  
  body.light-mode .search-bar input,
  body.light-mode .search-bar i {
    color: #262626;
  }

  .main-content {
    margin-left: 80px; 
    padding: 30px;
    width: 100%;
    background-color: #121212;
    color: white;
    transition: margin-left 0.5s;
  }

.perfil-container {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-width: 600px;
  margin: 40px auto;
}

.perfil-form label,
.perfil-form input,
.perfil-form select,
.perfil-form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.perfil-form input,
.perfil-form select {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #2e2e2e;
  color: white;
}

.perfil-form button {
  background-color: #1D4ED8;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.perfil-form button:hover {
  background-color: #2563eb;
}

.logout-form button {
  background-color: #991b1b;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.logout-form button:hover {
  background-color: #b91c1c;
}

.mensagem {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #22c55e;
}

/* Light mode */
body.light-mode .perfil-container {
  background-color: #e0e0e0;
  color: #262626;
}

body.light-mode .perfil-form input,
body.light-mode .perfil-form select {
  background-color: #ffffff;
  color: #262626;
  border: 1px solid #ccc;
}

body.light-mode .logout-form button {
  background-color: #cc4b4b;
}
